In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("result.csv")

# Preprocessing

## Regex

In [5]:
import re
df["article"].to_list()
hargaTolist=df["article"].to_list()
harga_tolist_join="".join(hargaTolist)
regex_harga_article = re.findall(r"(Rp[0-9][1-9]{0,2}.\d{3})", harga_tolist_join)

In [6]:
harga_tolist_join

'Harga Bahan Bakar Minyak (,) di seluruh ,Indonesia naik per 1 Agustus 2023 ini.,PT Pertamina (Persero) misalnya. Perusahaan pelat merah ini menaikkan harga tiga BBM nonsubsidi, yakni Pertamax Turbo, Dexlite, dan Pertamina Dex.,Seperti dikutip situs resmi Pertamina pada Senin (31/7), sejumlah provinsi di Indonesia turut menyesuaikan harga tiga BBM tersebut. DKI Jakarta contohnya, di mana harga Pertamax Turbo naik dari Rp14 ribu menjadi Rp14.400 per liter.,\r\nADVERTISEMENT\r\n,\r\nSCROLL TO RESUME CONTENT\r\n,Lalu, harga Dexlite di Jakarta juga naik dari Rp13.150 menjadi Rp13.950 per liter. Demikian pula dengan Pertamina Dex yang naik dari Rp13.550 menjadi Rp14.350 per liter.,Sementara, harga Pertalite masih bertahan di posisi Rp10 ribu per liter. Harga Pertamax juga tetap Rp12.400 per liter.,Senada, harga Pertamina Biosolar juga tetap Rp6.800 per liter.,Bergeser ke SPBU swasta, harga BBM besutan Shell pun turut naik per 1 Agustus 2023. Tercatat, harga Shell Super naik dari Rp12.920 menjadi Rp13.280 per liter.,Kemudian, Shell V-Power naik dari Rp13.780 menjadi Rp14.190 per liter. Shell V-Power Diesel naik dari Rp13.590 menjadi Rp14.410 per liter.,Selanjutnya, harga Shell V-power Nitro+ naik dari Rp14.120 menjadi Rp14.540 per liter.,Tak mau ketinggalan, harga BBM di SPBU BP juga naik. Lihat saja, BP Ultimate naik dari Rp13.780 menjadi Rp14.190 per liter. BP 92 naik dari Rp12.820 menjadi Ro12.990 per liter.,Selanjutnya, harga BP diesel naik dari Rp13.160 menjadi Rp13.970 per liter. Adapun harga BP 90 tetap di posisi Rp12.740 per liter.,Berikut daftar harga BBM di SPBU Indonesia terbaru.,- Pertamax: Rp12.400 per liter,- Pertalite: Rp10.000 per liter,- Pertamax Turbo: Rp14.400 ribu per liter,- Dexlite: Rp13.950 per liter,- Pertamina Dex: Rp14.350 per liter,- Pertamina Biosolar: Rp6.800 per liter,- Shell Super: Rp13.280 per liter,- Shell V-Power: Rp14.190 per liter,- Shell V-Power Diesel: Rp14.410 per liter,- Shell V-power Nitro+: Rp14.540 per liter,- BP Ultimate: Rp14.190 per liter,- BP 92: Rp12.990 per liter,- BP 90: Rp12.740 per liter,- BP diesel: Rp13.970 per liter,- Revvo 90: Rp11.200 per liter,- Revvo 92: Rp12.700 per liter,- Revvo 95: Rp13.580 per liter'

In [7]:
article_price_pertamina = re.findall(r"(Rp[0-9][1-9]{0,2}.\d{3})", harga_tolist_join)
article_pertamina = re.findall(r"((Perta.[\w]*.[A-z]+[\w+]))", harga_tolist_join)

In [85]:
shell_bahan_bakar=np.unique([v.lower() for v in re.findall(r"(V[-]\w{0,6}|Di\w{1,4}|Ni\w{1,3})", harga_tolist_join)])

In [86]:
pertamina_bahan_bakar=re.findall(r"(Per[A-z]{2,5}\s[A-Z]\w{4}|D\w{0,6})", harga_tolist_join)

In [90]:
bahan_bakar_pertamina=pertamina_bahan_bakar[0],pertamina_bahan_bakar[1],pertamina_bahan_bakar[2]
shell_bahan_bakar=np.unique([v.lower() for v in re.findall(r"(V[-]\w{0,6}|Di\w{1,4}|Ni\w{1,3})", harga_tolist_join)])
print(f'bahan bakar shell {shell_bahan_bakar}')
print(f'bahan bakar pertamina {bahan_bakar_pertamina}')

bahan bakar shell ['diesel' 'nitro' 'v-power']
bahan bakar pertamina ('Pertamax Turbo', 'Dexlite', 'Dex')

In [82]:

article={
    "Pertamina":bahan_bakar_pertamina,
    "Shell":shell_bahan_bakar
}

In [84]:
pd.DataFrame(article)

        Pertamina    Shell
0  Pertamax Turbo   diesel
1         Dexlite    nitro
2             Dex  v-power